<!DOCTYPE html>
<html>
    <head>
        <title>home page</title>
        <meta charset="utf-08"/>

        <link rel="stylesheet" href="/stylesheet/style2.css" />
    </head>

    <form action="/new" method="POST">
        <a href="/">->back</a>
        <br>
        <h1>New Message</h1>
        <input type="text" id="fname" name="messageAuthor" required="true" placeholder="Name"> 
        <br>
        <input type="text" id='message' name="messageText" required="true" placeholder="Enter a message">
        <br>
        <input type="submit" id="submitBtn" name="submit" value="Submit">

    </form>
</html>